<div class="container">
  <div class="button_container1">
    <button type="button" class="button" [routerLink]="['/login']"><</button>
    <button type="button" id="logout" class="button" (click)="logOut()">Logout</button>
  </div>
  <img  [src]="media_details.images.standard_resolution.url" class="img">
  <div class="button_container2">
    <button type="button" class="button" [routerLink]="['/login', media_id_prev]"><< Prev</button>
    <button type="button" class="button" [routerLink]="['/login', media_id_next]">Next >></button>
  </div>
  <table>
    <tr>
      <td class="row1">Likes:</td><td class="row2">{{media_details.likes.count}}</td>
    </tr>
    <tr>
      <td class="row1">Caption:</td><td class="row2">{{caption}}</td>
    </tr>
    <tr>
     <td class="row1">Keywords:</td><td class="row2">
       <div *ngFor="let tag of tags" class="tags">
         {{tag}}
       </div>
     </td>
    </tr>
    <tr>
     <td class="row1">Users in photo:</td><td class="row2">
       <div *ngFor="let user of media_details.users_in_photo" class="users">
         {{user.user.full_name}}
       </div>
     </td>
    </tr>
  </table>
</div>
